body{
    /* background-color: black; */
}

header{
    text-align: center;
}

h1{
  font-family: "Trade Winds", system-ui;
  font-weight: 400;
  font-style: normal;
  color: gold;
}

.introduction{
    text-align: center;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(209, 185, 50);
    color: #333;
    padding: 15px;
    margin: 20px;
    border-radius: 12px;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
    font-family: Arial, sans-serif;
  }

  th {
      font-family: "Trade Winds", system-ui;
    background-color: goldenrod;
    color: #333;
    padding: 10px;
    font-size: larger;
  }

  td {
    padding: 10px;
    border: 1px solid #ddd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  }

  tr:nth-child(even) {
    background-color: #fdde6c;
  }

  form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fffdf5;
    border: 2px solid gold;
    border-radius: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  input[type="radio"] {
    margin-right: 5px;
  }

  label {
    font-weight: bold;
  }

  button {
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #fdde6c;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
  }

  button:hover {
    background-color: #e6c200;
  }

  button:active{
    background-color: #ffd903;
  }


